
.BLresult {
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
	padding: 1px;
	min-width: 130px;
	max-width: 25%;
	padding-bottom: 3px;
	font-family: "Proxima Nova";

	background: rgb(0, 114, 206);

}


.BLtitle {

	padding-left: 3px;
	font-size: .75em;
	font-weight: 550;
	color: white;
}

.BLitems {
	padding: 0px 3px;
	margin: 0px 3px;
	font-size: .8em;
	background: white;
	border-radius: 3px;

}

.flexContainer {
	display:flex;
}

#smartSearchDiv {
	padding: 3px;
	margin: 0px 0px;
}

#smartSearchText {
	width: 150px;
}

.bottomTitle {
	padding-left: 3px;
	font-size: 1.25em;
	font-weight: 550;
	color: white;

}

#bottomBar {
	background:  #003A5E;
	position: fixed;
	overflow: hidden;
	 bottom: 0;
	 width: 100%;
	 height: 80px;
	 color: white;
	 z-index: 10001;
}

#smartSearchResults {
	display:flex;
}

#spacingDiv {
	margin-top: 5%;


}

#bottomFrame {
	overflow: hidden;
}